body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
table {
  font-size: 0.8em !important;
}
label {
  font-size: 0.8em !important;
}

.form-group {
  margin: 0 !important;
}
button {
  margin: 10px 5px 10px 0;
}
input, select, button{
  font-size: 0.8em !important;
}